@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 40px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: rgb(24, 56, 87);
    background-image: linear-gradient(
      to right,
      rgb(100, 81, 159),
      rgb(134, 90, 153)
    );
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        padding: 6px;
        padding-right: 10px;
        background-color: rgba($color: #fff, $alpha: 0.4);

        input {
          border: none;
          width: 500px;
          padding-left: 10px;
          background-color: transparent;
          color: themed("textColor");
          outline: none;
          font-weight: 600;

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
